
<div class="container-fluid">
    <nav class="mt-1 ">
      <button class="header-toggler" type="button" data-toggle="collapse" data-target="" aria-controls="" aria-expanded="false" aria-label="Toggle navigation">
        <span class="header-toggler-icon"></span>
      </button>
      <a class="header-brand" href="#">
        Humber Job Portal
      </a>
    
      <div class="collapse header-collapse" id="">
        
        <form class="form-inline">
          <ul class="header-nav my-2 my-lg-0">
            <li class="header-item">
              <a routerLink="/login" class="nav-link p-3" > <i class="fa fa-lock"></i> LOGIN</a>
            </li>
            <li class="header-item">
              <a routerLink="/signup" class="nav-link p-3 " ><i class="fa fa-address-book" aria-hidden="true"></i>REGISTER</a>
            </li>
          </ul>
        </form>
      </div>
    </nav>
  </div>
  
  
  